@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

$primary-dark: #090a0f;
$primary-light: #149fcb;
$light-color: #f0f2f5;

@mixin flex($dir: initial, $gap: initial) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
}

@mixin flex-justify($justify: flex-start, $dir: initial, $gap: initial) {
  @include flex($dir, $gap);
  justify-content: $justify;
}

@mixin flex-align($align: flex-start, $dir: initial, $gap: initial) {
  @include flex($dir, $gap);
  align-items: $align;
}

@mixin flex-justify-align(
  $justify: flex-start,
  $align: flex-start,
  $dir: initial,
  $gap: initial
) {
  @include flex($dir, $gap);
  justify-content: $justify;
  align-content: $align;
}

%bottom-line {
  content: "";
  position: absolute;
  background-color: $primary-light;
  width: 3em;
  height: 2px;
  left: 0;
  bottom: 0;
  margin-left: 0;
  transition: all 0.5s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $light-color;
  scroll-behavior: smooth;
  color: $primary-dark;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
  background-color: transparent;
  z-index: 99;
  background-color: transparent;
}

#navbar {
  @include flex-justify-align(space-between, center);

  .logo {
    img {
      max-height: 50px;
      border-radius: 50%;
    }
  }

  .nav-menu-toggler {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    @include flex-justify(space-around, column);
    cursor: pointer;

    .bar {
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      transition: rotate 250ms ease-in-out;
    }

    &.open .bar {
      scale: 1.2;
      &:first-child {
        rotate: -45deg;
        translate: 0 8px;
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:last-child {
        rotate: 45deg;
        translate: 0 -8px;
      }
    }
  }

  #nav-menu {
    .nav-items {
      list-style: none;
      @include flex-align(center, initial, 1.4em);
      height: 100%;

      .nav-item {
        .nav-link {
          position: relative;
          padding-bottom: 8px;
          color: #fff;
          font-size: 1.1rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;

          &.active {
            font-weight: 600;
          }

          &::after {
            @extend %bottom-line;
            width: 0;
          }

          &.active::after,
          &:hover::after {
            width: 3em;
          }
        }
      }
    }
  }
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  .star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-star linear infinite;

    &.size-1 {
      width: 1px;
      height: 1px;
    }

    &.size-2 {
      width: 2px;
      height: 2px;
      background-color: #ffffc1;
    }

    &.size-3 {
      width: 3px;
      height: 3px;
      background-color: #c9f2ff;
    }
  }
}

#intro {
  min-height: 100dvh;
  @include flex-justify-align(center, center);
  background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
  overflow: hidden;
  color: #fff;

  .container {
    text-align: center;
    z-index: 1;

    .intro-title {
      font-size: 4.5rem;
      margin-bottom: 1.25rem;
    }

    .intro-subtitle {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 1em;

      .cursor-pointer {
        &.blink {
          animation: blink 0.4s linear infinite alternate;
        }
      }
    }

    .btn {
      display: inline-block;
      text-decoration: none;
      font-size: 1.25rem;
      padding: 0.5em 2em;
      background-color: $primary-light;
      color: $light-color;
      border: 2px solid $primary-light;
      border-radius: 8px;
      transition: all 250ms ease;

      &:hover {
        translate: 0 -4px;
        background-color: transparent;
        color: $primary-light;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-star {
  0% {
    translate: 0;
  }
  100% {
    translate: 0 -150vh;
  }
}

.section {
  @include flex-justify(center);

  .container {
    margin: 6em 4em;
    padding: 2.5em;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba($primary-dark, 0.1);

    .heading-wrapper {
      @include flex-justify(center);

      .section-heading {
        position: relative;
        font-size: 4em;
        margin-bottom: 1.5em;

        &::after {
          @extend %bottom-line;
          height: 4px;
        }
      }
    }

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
      grid-gap: 2em;

      .col {
        min-width: calc(50% - 1em);
      }
    }
  }
}

#projects {
  .container {
    // max-width: 1440px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    .project-card {
      position: relative;
      border-radius: 12px;
      padding: 1em;
      margin-bottom: 2em;
      box-shadow: 0 2px 5px 1px rgba($primary-dark, 0.1);
      background-color: #ffffff;
      @include flex(column);

      .thumbnail,
      .title {
        translate: 0 -50px;
      }

      .description {
        translate: 0 -37.5px;
      }

      .thumbnail {
        position: relative;
        display: inherit;
        overflow: hidden;
        border-radius: 12px;
        z-index: 2;

        img {
          min-width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          overflow: hidden;
          transition: scale 1s ease;

          &.back {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 250ms ease;
          }
        }

        &::before,
        .links {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          translate: 0 100%;
        }

        &::before {
          content: "";
          background: linear-gradient(
            rgba($primary-light, 0.6),
            rgba($primary-dark, 0.8)
          );
        }

        .links {
          @include flex-justify-align(center, center, row, 6px);
          flex-wrap: wrap;
          transition: all 0.4s ease;

          .link {
            padding: 0.4em 1.25em;
            font-size: 1.1rem;
            text-decoration: none;
            background-color: transparent;
            border: 2px solid #ffffff;
            color: $light-color;
            border-radius: 4px;
            transition: all 250ms ease;

            &:hover {
              color: $primary-dark;
              background-color: #ffffff;
              scale: 0.9;
            }
          }
        }
      }

      .details {
        position: relative;
        padding: 1em;
        flex-grow: 1;
        @include flex(column);

        .title {
          text-transform: capitalize;
          font-size: 1.5rem;
        }

        .description {
          flex-grow: 1;
        }

        .language {
          position: absolute;
          bottom: 1em;
          border: 1px solid $primary-dark;
          font-size: 0.8rem;
          font-weight: 300;
          padding: 2px 8px;
          border-radius: 2em;
          background-color: rgba($primary-light, 0.1);
        }
      }

      &:hover {
        .thumbnail {
          &::before,
          .links {
            opacity: 1;
            translate: unset;
          }

          img {
            scale: 1.25;

            &.back {
              opacity: 1;
            }
          }
        }
      }
    }

    .view-more {
      display: inline-block;
      margin-top: 1em;
      color: $light-color;
      font-weight: 700;
      text-decoration: none;
      background-color: $primary-dark;
      padding: 0.75em 1.5em;
      text-transform: uppercase;
      border-radius: 2em;
      transition: all 250ms ease;
      border: 2px solid $primary-dark;

      &:hover {
        background-color: transparent;
        color: $primary-dark;
        translate: 0 -6px;
      }
    }
  }
}

#about {
  background-color: #ffffff;

  .container {
    background-color: $primary-dark;
    color: $light-color;
  }

  .profile {
    @include flex-justify(center);
    margin-bottom: 2em;

    img {
      width: 200px;
      aspect-ratio: 1 / 1;
      max-width: 100%;
      border-radius: 50%;
      box-shadow: 8px 8px 2px 1px rgba($primary-light, 0.1),
        -8px -8px 2px 1px rgba($primary-dark, 0.1);
    }
  }

  .skills {
    @include flex(column, 1em);
    list-style: none;

    .skill-item {
      position: relative;
      padding: 6px 12px;
      background-color: rgba($primary-light, 0.4);
      border-radius: 4px;
      overflow: hidden;

      .skill-data {
        position: relative;
        @include flex-justify(space-between);
        color: $light-color;
        z-index: 1;

        .skill-percent {
          color: $primary-dark;
        }
      }

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary-light;
      }
    }
  }

  .title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.75em;

    &::after {
      @extend %bottom-line;
      height: 4px;
    }
  }

  .info {
    p {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 1em;
    }
  }
}

#footer {
  background-color: rgba($primary-dark, 0.95);
  color: $light-color;
  text-align: center;

  .content {
    padding: 1em;

    a {
      color: $primary-light;
      text-decoration: none;
    }
  }
}

#contact {
  background-color: rgba($primary-dark, 1);
  padding: 2em;

  .social-icons {
    text-align: center;

    .icon {
      display: inline-flex;
      font-size: 2rem;
      color: $light-color;
      padding: 0.6rem;
      margin: 0 0.25rem;
      transition: 250ms;

      &:hover {
        color: white;
        translate: 0 -4px;
      }
    }
  }
}

@media only screen and (max-width: 904px) {
  #about {
    .row .col:nth-child(2) {
      grid-row: 1;
    }
  }
}

@media only screen and (min-width: 767px) {
  #navbar .nav-menu-toggler {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #nav-menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: height 250ms ease-in-out;

    &.mobile-hidden {
      display: none;
    }

    .nav-items {
      flex-direction: column !important;

      .nav-link {
      }
    }
  }

  #intro .container {
    padding: 0 1em;

    .intro-title {
      font-size: 3rem;
    }

    .intro-subtitle {
      font-size: 2rem;
    }

    .btn {
      font-size: 1rem;
    }
  }

  .section {
    .container {
      margin: 4em 2em;
    }
  }
}

@media only screen and (max-width: 540px) {
  #intro .container {
    .intro-title {
      font-size: 2rem;
    }

    .intro-subtitle {
      font-size: 1.25rem;
    }
  }

  .section .container {
    .heading-wrapper .section-heading {
      font-size: 2.5em;
      margin-bottom: 1.5em;
    }

    .row {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  #about .container {
    padding: 1.5em;
  }
}
