@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

$primary-dark: #090a0f;
$primary-light: #149fcb;
$light-color: #f0f2f5;

@mixin flex($dir: initial, $gap: initial) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
}

@mixin flex-justify($justify: flex-start, $dir: initial, $gap: initial) {
  @include flex($dir, $gap);
  justify-content: $justify;
}

@mixin flex-align($align: flex-start, $dir: initial, $gap: initial) {
  @include flex($dir, $gap);
  align-items: $align;
}

@mixin flex-justify-align(
  $justify: flex-start,
  $align: flex-start,
  $dir: initial,
  $gap: initial
) {
  @include flex($dir, $gap);
  justify-content: $justify;
  align-items: $align;
}

%bottom-line {
  content: "";
  position: absolute;
  background-color: $primary-light;
  width: 3em;
  height: 2px;
  left: 0;
  bottom: 0;
  margin-left: 0;
  transition: all 0.5s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: $primary-dark;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  height: 4px;
  background-color: $primary-light;
  width: 100%;
  z-index: 999;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes scroll-watcher {
    to {
      scale: 1 1;
    }
  }

  @keyframes move-star {
    from {
      translate: 0;
    }
    to {
      translate: 0 -150vh;
    }
  }

  @keyframes slide {
    to {
      translate: 0 100%;
    }
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes shine {
  from {
    translate: -100% 0;
  }
  to {
    translate: 100% 0;
  }
}

.section,
#header,
#footer {
  position: relative;
}

.section {
  @include flex-justify(center);

  .heading-wrapper {
    @include flex-justify(center);

    .section-heading {
      position: relative;
      font-size: 4em;
      margin-bottom: 1.5em;

      &::after {
        @extend %bottom-line;
        height: 4px;
        left: calc(50% - 1.5em);
      }
    }
  }

  .container {
    margin: 6em 4em;
    padding: 2.5em;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba($primary-dark, 0.1);

    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
      grid-gap: 2em;

      .col {
        min-width: calc(50% - 1em);
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;

  .row {
    position: relative;
    z-index: 1;
  }
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);

  .star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-star linear infinite;

    &.size-1 {
      width: 1px;
      height: 1px;
    }

    &.size-2 {
      width: 2px;
      height: 2px;
      background-color: #ffffc1;
    }

    &.size-3 {
      width: 3px;
      height: 3px;
      background-color: #c9f2ff;
    }
  }
}

.loading {
  @include flex-justify-align(center, center, row, 0.5em);
  font-size: 2rem;
  margin-bottom: 2em;

  svg {
    animation: spin infinite 1.5s linear;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.4em 1.5em;
  color: $light-color;
  border: 2px solid $primary-light;
  border-radius: 2em;
  transition: all 0.5s ease;

  svg {
    rotate: -45deg;
  }

  &:hover {
    translate: 0 -4px;
    background-color: transparent;
    color: $primary-light;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75em 1.5em;
  background-color: #ffffff;
  color: $primary-dark;
  z-index: 99;
  transition: all 0.5s ease;

  &.transparent {
    background-color: transparent;
    padding: 1.5em;
    color: $light-color;
  }
}

#header #navbar {
  @include flex-justify-align(space-between, center);

  .logo {
    display: contents;

    img {
      max-height: 50px;
      border-radius: 50%;
    }
  }

  .nav-menu-toggler {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    @include flex-justify(space-around, column);
    cursor: pointer;
    display: none;

    .bar {
      width: 100%;
      height: 3px;
      background-color: $primary-light;
      transition: rotate 0.5s ease-in-out;
    }

    &.open .bar {
      scale: 1.2;
      &:first-child {
        rotate: -45deg;
        translate: 0 8px;
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:last-child {
        rotate: 45deg;
        translate: 0 -8px;
      }
    }
  }

  #nav-menu {
    .nav-items {
      list-style: none;
      @include flex-align(center, initial, 1.4em);
      height: 100%;

      .nav-item {
        .nav-link {
          position: relative;
          padding-bottom: 8px;
          color: inherit;
          font-size: 1.1rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;

          &::after {
            @extend %bottom-line;
            width: 0;
          }

          &.active::after,
          &:hover::after {
            width: 3em;
          }
        }
      }
    }
  }
}

#intro {
  position: relative;
  min-height: 100dvh;
  @include flex-justify-align(center, center);
  overflow: hidden;
  color: #fff;

  .stars {
    position: fixed;
  }

  .container {
    text-align: center;
    position: fixed;
    animation: slide linear;
    animation-timeline: scroll();

    .intro-title {
      font-size: 4.5rem;
      margin-bottom: 1.25rem;

      span {
        color: $primary-light;
        filter: blur(0.5px);
      }
    }

    .intro-subtitle {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 1em;

      .cursor-pointer {
        color: $primary-light;

        &.blink {
          animation: blink 0.4s linear infinite alternate;
        }
      }
    }
  }
}

#projects {
  background-color: $light-color;

  .container {
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    .project-card {
      position: relative;
      border-radius: 12px;
      padding: 1em;
      margin-bottom: 2em;
      box-shadow: 0 2px 5px 1px rgba($primary-dark, 0.1);
      background-color: #ffffff;
      @include flex(column);

      &.skeleton {
        .thumbnail {
          img {
            visibility: hidden;
          }
        }

        .thumbnail,
        .details > * {
          position: relative;
          background-color: $light-color;
          overflow: hidden;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: shine 1s infinite;
            background: linear-gradient(
              to right,
              #ffffff00 0%,
              #ffffff99 50%,
              #ffffff00 100%
            );
          }
        }

        .title {
          height: 2rem;
          border-radius: 4px;
        }

        .description {
          height: 6rem;
          border-radius: 4px;
        }

        .language {
          height: 1.5rem;
          min-width: 30%;
          border: none !important;
        }
      }

      .thumbnail,
      .title {
        translate: 0 -50px;
      }

      .description {
        translate: 0 -37.5px;
      }

      .thumbnail {
        position: relative;
        display: inherit;
        overflow: hidden;
        border-radius: 12px;
        filter: drop-shadow(-10px 0 10px #ffffff);
        z-index: 2;

        img {
          min-width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          overflow: hidden;
          transition: scale 1s ease;

          &.back {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }

        &::before,
        .links {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          translate: 0 100%;
        }

        &::before {
          content: "";
          background: linear-gradient(
            rgba($primary-light, 0.6),
            rgba($primary-dark, 0.8)
          );
        }

        .links {
          @include flex-justify-align(center, center, row, 6px);
          flex-wrap: wrap;
          transition: all 0.4s ease;

          .link {
            padding: 0.4em 1.25em;
            font-size: 1.1rem;
            text-decoration: none;
            background-color: transparent;
            border: 2px solid #ffffff;
            color: $light-color;
            border-radius: 4px;
            transition: all 0.5s ease;

            &:hover {
              color: $primary-dark;
              background-color: #ffffff;
              scale: 0.9;
            }
          }
        }
      }

      .details {
        position: relative;
        padding: 1em;
        flex-grow: 1;
        @include flex(column);

        .title {
          text-transform: capitalize;
          font-size: 1.5rem;
        }

        .description {
          flex-grow: 1;
        }

        .language {
          position: absolute;
          bottom: 1em;
          border: 1px solid $primary-dark;
          font-size: 0.8rem;
          font-weight: 300;
          padding: 2px 8px;
          border-radius: 2em;
          background-color: rgba($primary-light, 0.1);
        }
      }

      &:not(.skeleton):hover {
        .thumbnail {
          &::before,
          .links {
            opacity: 1;
            translate: 0;
          }

          img {
            scale: 1.25;

            &.back {
              opacity: 1;
            }
          }
        }
      }
    }

    .btn.view-more {
      position: relative;
      margin-top: 1em;
      font-size: 1rem;
      padding: 0.75em 1.5em;
      text-transform: uppercase;
      border-width: 0;
      overflow: hidden;

      & > span,
      svg {
        z-index: 2;
      }

      &:hover {
        color: $primary-light;
      }
    }
  }
}

#about {
  background-color: #ffffff;
  perspective: 1500px;

  .container {
    color: $light-color;
    overflow: hidden;
    transform: rotateX(8deg) rotateY(8deg);
    border-radius: 0.375em;
    box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
  }

  .profile {
    @include flex-justify(center);
    margin-bottom: 2em;

    img {
      width: 200px;
      aspect-ratio: 1 / 1;
      max-width: 100%;
      clip-path: polygon(
        50% 0%,
        83% 12%,
        100% 43%,
        94% 78%,
        68% 100%,
        32% 100%,
        6% 78%,
        0% 43%,
        17% 12%
      );
    }
  }

  .skills {
    @include flex(column, 1em);
    list-style: none;

    .skill-item {
      position: relative;
      padding: 6px 12px;
      background-color: rgba($primary-light, 0.4);
      border-radius: 4px;
      overflow: hidden;

      .skill-data {
        position: relative;
        @include flex-justify(space-between);
        color: $light-color;
        z-index: 1;

        .skill-percent {
          color: $primary-dark;
        }
      }

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary-light;
        transform-origin: left;
        scale: 0 1;
        animation: scroll-watcher linear forwards 1s;
      }
    }
  }

  .title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.75em;

    &::after {
      @extend %bottom-line;
      height: 4px;
    }
  }

  .info {
    p {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 1em;
    }
  }
}

#footer {
  color: $light-color;
  text-align: center;

  .content {
    position: relative;
    padding: 1em;

    a {
      color: $primary-light;
      text-decoration: none;
    }
  }
}

#contact {
  padding: 3em;

  .heading {
    margin-bottom: 1em;
    text-transform: uppercase;
    filter: blur(1px);
  }

  .social-icons {
    text-align: center;

    .icon {
      display: inline-flex;
      font-size: 2rem;
      color: $light-color;
      padding: 0.6rem;
      margin: 0 0.25rem;
      transition: 0.5s;

      &:hover {
        color: white;
        translate: 0 -4px;
      }
    }
  }
}

@media only screen and (max-width: 904px) {
  #about {
    .row .col:nth-child(2) {
      grid-row: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  #header #navbar .nav-menu-toggler {
    display: flex;
  }

  #header.transparent #navbar {
    #nav-menu {
      background-color: transparent;
      border: none;
    }
  }

  #nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    translate: 0;
    opacity: 1;
    background-color: #ffffff;
    transition: all 0.5s ease;
    padding: 1em;
    border-top: 1px solid $primary-light;
    border-bottom: 1px solid $primary-light;

    &.mobile-hidden {
      translate: 0 200%;
      opacity: 0;
    }

    .nav-items {
      flex-direction: column !important;
    }
  }

  #intro .container {
    padding: 0 1em;

    .intro-title {
      font-size: 3rem;
    }

    .intro-subtitle {
      font-size: 2rem;
    }
  }

  .section {
    .container {
      margin: 4em 2em;
    }
  }
}

@media only screen and (max-width: 540px) {
  #intro .container {
    .intro-title {
      font-size: 2rem;
    }

    .intro-subtitle {
      font-size: 1.25rem;
    }
  }

  .section {
    .section-heading {
      font-size: 2.5em !important;
    }

    .container .row {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  #about .container {
    padding: 1.5em;
  }
}

::-webkit-scrollbar {
  background-color: $primary-dark;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($primary-light, 0.8);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-light;
}
